<div class="container">
  <app-logo></app-logo>
  <app-question
    *ngIf="questions && !finished"
    [active_question]="questions.questions[active_question]"
    [activePanel]="getAlreadyAswered(active_question)"
    (questionSelected)="onSelectAnswer($event)">
  </app-question>
  <app-final *ngIf="finished" [result]="getResult()" (resetQuiz)="newQuiz($vent)"></app-final>
  <app-navigation *ngIf="!finished" [progress]="progress" (navChanged)="onNavigate($event)"></app-navigation>
  <footer><span>legit company &copy; 2018</span></footer>
</div>
