$main-bcg: #ffffff;
$bcg-bcg:#e6e6e6;
$main-col: #333;

/*---quiz--colors--*/
$panel-bcg-def: #ebebeb;
$panel-bcg-act: #7991ff;

$panel-bcg-norm-accent: #d8d8d8;
$panel-bcg-act-accent: #5c7aff;

$panel-col-def: #808080;
$panel-col-act: #f2f2f2;
